body.dark-mode {
  color: white;
  background-color: black;
}

body.dark-mode .theme-toggle {
  color: white;
  background-color: grey;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Satoshi', sans-serif;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 0px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  .body-fixed {
    overflow: hidden;
  }
  .hamburger.hamburger--squeeze {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 100;
  }
  header {
    position: absolute;
    z-index: 5;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    padding: 0.5em;
    width: 100%;
    height: 8vh;
  }
  header nav p {
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
  }
  header nav .nav-links {
    margin: 0;
    position: fixed;
    z-index: 100;
    right: 0px;
    height: 100vh;
    width: 80%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    background-color: white;
    list-style: none;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: .5em 1em;
    text-align: center;
    width: 90%;
    font-weight: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2em;
  }
  header nav .nav-links li a {
    color: black;
    text-decoration: none;
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: 3em;
  }
  header nav .nav-links.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  header nav .navlinks-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
  }
  header nav .navlinks-overlay.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    -webkit-animation: fadeIn 0.5s ease-in;
            animation: fadeIn 0.5s ease-in;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  .hamburger.hamburger--squeeze {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 100;
  }
  header {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    height: 8vh;
    padding: 0.5em;
    width: 100%;
  }
  header nav .nav-links {
    margin: 0;
    position: fixed;
    z-index: 100;
    right: 0px;
    height: 100vh;
    width: 80%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    background-color: #000;
    list-style: none;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: .5em 1em;
    text-align: right;
    width: 90%;
    font-weight: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2em;
  }
  header nav .nav-links li a {
    color: black;
    text-decoration: none;
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: 3em;
    border-bottom: 1px solid black;
  }
  header nav .nav-links.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  .hamburger.hamburger--squeeze {
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 100;
  }
  header {
    z-index: 5;
    position: relative;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    padding: 0 1em;
    width: 100%;
    z-index: 1000;
    height: 100%;
    max-width: 1200px;
    margin: auto;
  }
  header nav p {
    display: block;
    color: black;
    font-size: 1.2em;
  }
  header nav .nav-links {
    margin: 0;
    position: relative;
    z-index: 100;
    right: unset;
    height: auto;
    top: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: unset;
            transform: unset;
    -webkit-transition: unset;
    transition: unset;
    background-color: transparent;
    list-style: none;
    width: auto;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: .5em;
    text-align: right;
    width: 90%;
    font-weight: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 1em;
  }
  header nav .nav-links li a {
    color: black;
    text-decoration: none;
  }
  header nav .nav-links li a:hover {
    color: black;
    -webkit-transition: color .5s;
    transition: color .5s;
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: 0em;
    border-bottom: none;
  }
  header nav .nav-links.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@media (min-width: 1200px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  .hamburger.hamburger--squeeze {
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 100;
  }
  header {
    z-index: 5;
    position: relative;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;
    max-width: 1200px;
    margin: auto;
  }
  header nav .nav-links {
    margin: 0;
    position: relative;
    z-index: 100;
    right: unset;
    height: auto;
    top: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: unset;
            transform: unset;
    -webkit-transition: unset;
    transition: unset;
    background-color: transparent;
    list-style: none;
    width: auto;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: .5em;
    text-align: right;
    width: 90%;
    font-weight: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 1em;
  }
  header nav .nav-links li a {
    color: black;
    text-decoration: none;
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: 0em;
  }
  header nav .nav-links.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

/* burger css */
.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black;
}

.hamburger-box {
  width: 50px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: transparent;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 0px) {
  .footer {
    position: relative;
    width: 100vw;
    padding: 2em;
    background-color: black;
    z-index: 9999;
  }
  .footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }
  .footer a {
    color: #ced4da;
    text-decoration: none;
  }
  .footer a:hover {
    color: white;
  }
  .footer .col {
    text-align: left;
    margin-bottom: 3em;
    font-weight: 100;
  }
  .footer .col .logo-footer {
    width: 80px;
    height: 80px;
  }
  .footer .col h2 {
    margin-bottom: .5em;
    font-size: 1.2em;
    letter-spacing: 3px;
    font-weight: lighter;
    color: white;
    padding-bottom: 10px;
  }
  .footer .col p {
    color: #ced4da;
  }
  .footer .col ul {
    list-style: none;
    width: 100%;
  }
  .footer .col ul li {
    color: #ced4da;
    font-size: .9em;
    margin-bottom: .5em;
    cursor: pointer;
  }
  .footer .col ul li:hover {
    color: white;
  }
  .footer .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #ced4da;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .social-media .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
    color: #ced4da;
  }
  .footer .social-media a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .8em;
  }
  .footer .social-media a:hover {
    color: white;
  }
  .footer .site-credit {
    margin: .5em 0;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: .8em;
  }
  .footer .site-credit a {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
  }
  .footer .site-credit .credit {
    text-transform: uppercase;
    color: #fab702;
  }
}

@media (min-width: 768px) {
  .footer {
    width: 100vw;
    padding: 2em 1em;
    background-color: black;
  }
  .footer .footer-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: unset;
    height: 100%;
    margin: auto;
  }
  .footer .logo-footer {
    width: 80px;
    height: 80px;
    margin-bottom: .5em;
  }
  .footer .social-media {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .footer .col {
    width: 100%;
    text-align: left;
    margin: 1em 0;
    height: 100%;
  }
  .footer .col h2 {
    margin-bottom: .5em;
    font-size: 1em;
    letter-spacing: 3px;
  }
  .footer .col ul {
    list-style: none;
    width: 100%;
    text-align: left;
  }
  .footer .col ul li {
    color: #ced4da;
    font-size: .9em;
    margin-bottom: .5em;
  }
}

@media (min-width: 1000px) {
  .footer {
    width: 100vw;
    padding: 2em;
    background-color: black;
  }
  .footer .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 1em;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 1200px;
  }
  .footer .col {
    text-align: left;
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 1em;
    text-align: center;
  }
  .footer .col h2 {
    margin-bottom: .5em;
    font-size: 1em;
    letter-spacing: 3px;
    text-align: left;
  }
  .footer .col p {
    text-align: left;
  }
  .footer .col .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .col .social-media img {
    width: 1.5em;
  }
  .footer .col .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ced4da;
    margin-right: 1em;
  }
  .footer .col ul {
    list-style: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: left;
  }
  .footer .col ul li {
    color: #ced4da;
    font-size: .9em;
    margin-bottom: 1em;
  }
  .footer .col ul li:hover {
    color: white;
  }
}

.btn {
  cursor: pointer;
  padding: 10px 30px;
  background-color: #1e88e5;
  border: 0;
  color: white;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.btn:hover {
  opacity: .8;
}

.btn-primary {
  background-color: #1e88e5;
}

.btn-success {
  background-color: #2dc653;
}

.btn-danger {
  background-color: #d00000;
}

.btn-info {
  background-color: #48cae4;
}

.btn-warning {
  background-color: #ffee32;
  color: black;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-dark {
  background-color: #212529;
}

.btn-light {
  background-color: #f8f9fa;
  color: black;
}

.standard-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.swiper-container {
  margin: 1rem 0;
  height: 375px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container .swiper-wrapper .swiper-1 {
  background: url(/assets/img1.jpeg) center/cover;
}

.swiper-container .swiper-wrapper .swiper-2 {
  background: url(/assets/img4.jpg) center/cover;
}

.swiper-container .swiper-wrapper .swiper-3 {
  background: url(/assets/img6.jpg) center/cover;
}

@media (min-width: 0em) {
  #landing {
    height: 550px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/assets/img1.jpeg);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/img1.jpeg);
    background-position: center;
    background-size: cover;
    color: white;
  }
  #landing h1 {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    letter-spacing: 2px;
  }
  #landing p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  #landing div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #landing div a {
    margin-right: 1rem;
    text-decoration: none;
    padding: 8px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #landing div .btn-1 {
    background-color: #fab702;
  }
  #landing div .btn-2 {
    background-color: white;
    color: black;
    margin: 0;
  }
  #services {
    width: 100%;
    background-color: #f9f9f9;
  }
  #services .services-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    max-width: 1200px;
    -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    margin: auto;
  }
  #services .services-container .service {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 45% auto;
        grid-template-rows: 45% auto;
  }
  #services .services-container .service .service-card-content {
    padding: 1rem 0;
  }
  #services .services-container .service .service-card-content h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  #services .services-container .service .service-card-content p {
    margin-bottom: 2rem;
  }
  #services .services-container .service .service-card-content a {
    text-decoration: none;
    color: #fab702;
    text-transform: uppercase;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: .9rem;
  }
  #services .services-container .service .service-card-content a:hover {
    -webkit-text-decoration: underline 1px solid #fab702;
            text-decoration: underline 1px solid #fab702;
  }
  #services .services-container .service .service-card-img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  #certs {
    width: 100%;
  }
  #certs .cert-container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
  }
  #certs .cert-container .section-heading {
    padding: 2rem 0;
  }
  #certs .cert-container .section-heading h2 {
    position: relative;
    line-height: 3rem;
  }
  #certs .cert-container .section-heading h2::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #fab702;
    bottom: 0;
  }
  #certs .cert-container .certs-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 2rem;
  }
  #certs .cert-container .certs-grid .cert {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-rows: 45% auto;
        grid-template-rows: 45% auto;
    text-align: center;
  }
  #certs .cert-container .certs-grid .cert img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  #certs .cert-container .certs-grid .cert h4 {
    margin-bottom: 1rem;
  }
  #certs .cert-container .certs-grid .cert p {
    color: #333;
  }
  #exp {
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/assets/img3.jpg) center/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/img3.jpg) center/cover;
  }
  #exp > div {
    color: white;
  }
  #exp > div p {
    color: #fab702;
  }
  #exp > div h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  #exp > div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 8px 15px;
    margin: 0;
  }
  #recent-works {
    width: 100%;
    padding: 1rem;
  }
  #recent-works .section-heading {
    padding: margin-lg 0;
  }
  #recent-works .section-heading h2 {
    position: relative;
    line-height: 3rem;
  }
  #recent-works .section-heading h2::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #fab702;
    bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */