@media (min-width: 0em) {
    #landing {
        height: 550px;
        padding: $padding-md;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(/assets/img1.jpeg);
        background-position: center;
        background-size: cover;
        color: white;

        h1 {
            margin-bottom: $margin-md;
            font-size: $font-size-lg;
            letter-spacing: 2px;
        }

        p {
            margin-bottom: $margin-md;
            line-height: 1.5;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin-right: $margin-md;
                text-decoration: none;
                padding: 8px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .btn-1 {
                background-color: $yellow-theme-color;
            }

            .btn-2 {
                background-color: white;
                color: black;
                margin: 0;
            }
        }
    }

    #services {
        width: 100%;
        background-color: $bg-color-1;

        & .services-container {
            display: grid;
            width: 100%;
            max-width: 1200px;
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            grid-gap: $margin-md;
            padding: $padding-md;
            margin: auto;

            & .service {
                position: relative;
                width: 100%;
                max-width: 450px;
                height: 400px;
                display: grid;
                grid-template-rows: 45% auto;

                .service-card-content {
                    padding: $padding-md 0;

                    h4 {
                        margin-bottom: $margin-md;
                        font-size: 1.1rem;
                    }

                    p {
                        margin-bottom: $margin-md * 2;
                    }

                    a {
                        text-decoration: none;
                        color: $yellow-theme-color;
                        text-transform: uppercase;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: max-content;
                        font-size: .9rem;

                        &:hover {
                            text-decoration: underline 1px solid $yellow-theme-color;
                        }
                    }
                }

                .service-card-img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
            }
        }
    }

    #certs {
        width: 100%;

        .cert-container {
            max-width: 1200px;
            margin: auto;
            padding: $padding-md;

            .section-heading {
                padding: $margin-lg 0;

                h2 {
                    position: relative;
                    line-height: 3rem;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100px;
                        height: 2px;
                        background-color: $yellow-theme-color;
                        bottom: 0;
                    }
                }
            }

            .certs-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                grid-gap: $margin-md * 2;

                & .cert {
                    position: relative;
                    width: 100%;
                    max-width: 450px;
                    height: max-content;
                    display: grid;
                    place-items: center;
                    grid-template-rows: 45% auto;
                    text-align: center;

                    img {
                        width: 80px;
                        height: 80px;
                        margin-bottom: $margin-md;
                    }

                    h4 {
                        margin-bottom: $margin-md;
                    }

                    p {
                        color: $para-text-color;
                    }
                }
            }
        }
    }

    #exp {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding-md;
        position: relative;
        background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(/assets/img4.jpg) center / cover;

        &>div {
            color: white;

            p {
                color: $yellow-theme-color
            }

            h2 {
                font-size: $font-size-lg;
                margin-bottom: $margin-md;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
                background-color: white;
                width: max-content;
                padding: 8px 15px;
                margin: 0;
            }
        }
    }

    #testimonials {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/assets/img3.jpg) center / cover;
        width: 100%;

        .testimonials-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: $padding-md;

            .section-heading {
                padding: $margin-lg 0;
                color: white;

                h2 {
                    position: relative;
                    line-height: 3rem;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100px;
                        height: 2px;
                        background-color: $yellow-theme-color;
                        bottom: 0;
                    }
                }
            }

            .swiper {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                color: white;
                img {
                    width: 100%;
                    margin-bottom: $margin-sm;
                }
                p {
                    margin-bottom: $margin-md;
                }
            }
        }
    }
}