// Color Variables
$primary-color: white;
$yellow-theme-color: #fab702;

// Margin
$med-margin: 1rem;
$lg-margin: 2rem;

// Padding
$med-padding: 1rem;
$lg-padding: 2rem;

// font-size

$font-size-lg: 40px;


// div bg colors

$bg-color-1: #f9f9f9;

// Para text

$para-text-color: #333;